## IMPORT NECESARIOS

In [1]:
from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import col, sum, desc, asc

## CREACION DE LA SESION DE SPARK

In [2]:
spark = SparkSession.builder\
    .appName("ETL meteoritos")\
    .getOrCreate()

In [3]:
spark

## LECTURA DE LOS DATOS

In [5]:
import os
print(os.path.exists("/home/jovyan/work/Meteorite.csv"))

False

In [6]:
!ls -lah /home/jovyan/work/

total 3.8M
drwxrwxr-x 4 jovyan  1000 4.0K Mar  2 19:14 .
drwsrws--- 1 jovyan users 4.0K Mar  2 18:51 ..
-rw-rw-r-- 1 jovyan  1000  18K Mar  2 19:14 etl_meteoritos.ipynb
drwxrwxr-x 2 jovyan  1000 4.0K Dec 13  1901 iframe_figures
drwxrwxr-x 2 jovyan  1000 4.0K Mar  2 19:12 .ipynb_checkpoints
-rw-rw-r-- 1 jovyan  1000 3.7M Jan  1  1980 m.csv
-rw-rw-r-- 1 jovyan  1000  42K Mar  2 19:12 meteoritos_eda.ipynb
-rw-r--r-- 1 jovyan users  617 Mar  2 19:14 Untitled.ipynb

In [7]:
import os
print(os.access("/home/jovyan/work/Meteorite.csv", os.R_OK))

False

In [4]:
df= spark.read.csv("Meteorite.csv", header=True, inferSchema= True)

AnalysisException: [PATH_NOT_FOUND] Path does not exist: file:/home/jovyan/work/Meteorite.csv.

In [5]:
df.show()

+-------------------+---+--------+------------+--------+----+----+---------+---------+--------------------+----+
|               name| id|nametype|    recclass|mass (g)|fall|year|   reclat|  reclong|         GeoLocation|_c10|
+-------------------+---+--------+------------+--------+----+----+---------+---------+--------------------+----+
|             Aachen|  1|   Valid|          L5|    21.0|Fell|1880|   50.775|  6.08333|   (50.775, 6.08333)|NULL|
|             Aarhus|  2|   Valid|          H6|   720.0|Fell|1951| 56.18333| 10.23333|(56.18333, 10.23333)|NULL|
|               Abee|  6|   Valid|         EH4|107000.0|Fell|1952| 54.21667|   -113.0|  (54.21667, -113.0)|NULL|
|           Acapulco| 10|   Valid| Acapulcoite|  1914.0|Fell|1976| 16.88333|    -99.9|   (16.88333, -99.9)|NULL|
|            Achiras|370|   Valid|          L6|   780.0|Fell|1902|-33.16667|   -64.95| (-33.16667, -64.95)|NULL|
|           Adhi Kot|379|   Valid|         EH4|  4239.0|Fell|1919|     32.1|     71.8|        (32.1, 71.8)|NULL|
|Adzhi-Bogdo (stone)|390|   Valid|       LL3-6|   910.0|Fell|1949| 44.83333| 95.16667|(44.83333, 95.16667)|NULL|
|               Agen|392|   Valid|          H5| 30000.0|Fell|1814| 44.21667|  0.61667| (44.21667, 0.61667)|NULL|
|             Aguada|398|   Valid|          L6|  1620.0|Fell|1930|    -31.6|-65.23333|  (-31.6, -65.23333)|NULL|
|      Aguila Blanca|417|   Valid|           L|  1440.0|Fell|1920|-30.86667|   -64.55| (-30.86667, -64.55)|NULL|
|   Aioun el Atrouss|423|   Valid|Diogenite-pm|  1000.0|Fell|1974| 16.39806| -9.57028|(16.39806, -9.57028)|NULL|
|                A誰r|424|   Valid|          L6| 24000.0|Fell|1925| 19.08333|  8.38333| (19.08333, 8.38333)|NULL|
|    Aire-sur-la-Lys|425|   Valid|     Unknown|    NULL|Fell|1769| 50.66667|  2.33333| (50.66667, 2.33333)|NULL|
|              Akaba|426|   Valid|          L6|   779.0|Fell|1949| 29.51667|    35.05|   (29.51667, 35.05)|NULL|
|           Akbarpur|427|   Valid|          H4|  1800.0|Fell|1838| 29.71667|    77.95|   (29.71667, 77.95)|NULL|
|            Akwanga|432|   Valid|           H|  3000.0|Fell|1959|  8.91667|  8.43333|  (8.91667, 8.43333)|NULL|
|            Akyumak|433|   Valid|   Iron, IVA| 50000.0|Fell|1981| 39.91667| 42.81667|(39.91667, 42.81667)|NULL|
|            Al Rais|446|   Valid|      CR2-an|   160.0|Fell|1957| 24.41667| 39.51667|(24.41667, 39.51667)|NULL|
|          Al Zarnkh|447|   Valid|         LL5|   700.0|Fell|2001| 13.66033|    28.96|   (13.66033, 28.96)|NULL|
|              Alais|448|   Valid|         CI1|  6000.0|Fell|1806| 44.11667|  4.08333| (44.11667, 4.08333)|NULL|
+-------------------+---+--------+------------+--------+----+----+---------+---------+--------------------+----+
only showing top 20 rows

## TRANSFORMACIONES

Tenemos una columna que solo tiene nulos, y la de GeoLocation que no vamos a utilizar

In [6]:
df_es = df.withColumnsRenamed({"name":"nombre", "nametype": "condicion", "recclass": "clasificacion", "mass (g)": "masa_gramos", "fall": "tipo_descenso", "year":"a単o", "reclat": "latitud", "reclong":"longitud"})

Vamos a tocar los nombres de las columnas, asi cuando hagamos una visualizacion de datos se vera mas bonito

In [7]:
df_drop = df_es.drop("GeoLocation","_c10")

In [8]:
df_drop.show()

+-------------------+---+---------+-------------+-----------+-------------+----+---------+---------+
|             nombre| id|condicion|clasificacion|masa_gramos|tipo_descenso| a単o|  latitud| longitud|
+-------------------+---+---------+-------------+-----------+-------------+----+---------+---------+
|             Aachen|  1|    Valid|           L5|       21.0|         Fell|1880|   50.775|  6.08333|
|             Aarhus|  2|    Valid|           H6|      720.0|         Fell|1951| 56.18333| 10.23333|
|               Abee|  6|    Valid|          EH4|   107000.0|         Fell|1952| 54.21667|   -113.0|
|           Acapulco| 10|    Valid|  Acapulcoite|     1914.0|         Fell|1976| 16.88333|    -99.9|
|            Achiras|370|    Valid|           L6|      780.0|         Fell|1902|-33.16667|   -64.95|
|           Adhi Kot|379|    Valid|          EH4|     4239.0|         Fell|1919|     32.1|     71.8|
|Adzhi-Bogdo (stone)|390|    Valid|        LL3-6|      910.0|         Fell|1949| 44.83333| 95.16667|
|               Agen|392|    Valid|           H5|    30000.0|         Fell|1814| 44.21667|  0.61667|
|             Aguada|398|    Valid|           L6|     1620.0|         Fell|1930|    -31.6|-65.23333|
|      Aguila Blanca|417|    Valid|            L|     1440.0|         Fell|1920|-30.86667|   -64.55|
|   Aioun el Atrouss|423|    Valid| Diogenite-pm|     1000.0|         Fell|1974| 16.39806| -9.57028|
|                A誰r|424|    Valid|           L6|    24000.0|         Fell|1925| 19.08333|  8.38333|
|    Aire-sur-la-Lys|425|    Valid|      Unknown|       NULL|         Fell|1769| 50.66667|  2.33333|
|              Akaba|426|    Valid|           L6|      779.0|         Fell|1949| 29.51667|    35.05|
|           Akbarpur|427|    Valid|           H4|     1800.0|         Fell|1838| 29.71667|    77.95|
|            Akwanga|432|    Valid|            H|     3000.0|         Fell|1959|  8.91667|  8.43333|
|            Akyumak|433|    Valid|    Iron, IVA|    50000.0|         Fell|1981| 39.91667| 42.81667|
|            Al Rais|446|    Valid|       CR2-an|      160.0|         Fell|1957| 24.41667| 39.51667|
|          Al Zarnkh|447|    Valid|          LL5|      700.0|         Fell|2001| 13.66033|    28.96|
|              Alais|448|    Valid|          CI1|     6000.0|         Fell|1806| 44.11667|  4.08333|
+-------------------+---+---------+-------------+-----------+-------------+----+---------+---------+
only showing top 20 rows

## ELIMINACION DE NULOS

In [12]:
df_null = df_drop.dropna(subset=["latitud", "longitud"])

## OUTPUT